@import _vars
@import _catalog
@import _product
@import _cart
@import _registration

*
    margin: 0
    padding: 0
    font-family: Lato
html
    font-size: 16px
.container
    max-width: $width_site
    margin: 0 auto

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header
    background: $ground_color
    height: 75px
    display: flex
    justify-content: space-between
    align-items: center

.loupe
    margin-left: 41px

.indent:not(:first-child)
    padding-left: 33px

.promo
    background: #F1E4E6
    height: 764px
    display: flex
    padding-left: calc(50% - 800px)
    padding-right: calc(50% - 800px)

    &_img
        width: 50%

    &_content
        margin-top: 290px
        margin-left: 92px

    &_head
        font-family: Lato
        font-style: normal
        font-weight: 900
        font-size: 48px
        line-height: 58px
        color: $ground_color
        padding-left: 16px
        border-left: solid 12px $select_color

    &_words
        font-family: Lato
        font-style: normal
        font-weight: 300
        font-size: 32px
        line-height: 38px
        color: $ground_color
        padding-left: 16px
        border-left: solid 12px $select_color

    &_words_select
        color: $select_color

.sale_top
    display: flex
    gap: 30px

.sale
    padding-top: 64px
    padding-bottom: 96px

    &_item
        height: 260px
        flex-grow: 1
        background-position: center
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        transition: transform 1s
        &:hover
            transform: scale(1.05)
    &_text
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        text-align: center
        color: #FFFFFF

    &_head
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 29px
        text-align: center
        color: $select_color

    &_for_women
        background-image: url(../img/for_women.jpg)

    &_for_men
        background-image: url(../img/for_men.jpg)

    &_for_child
        background-image: url(../img/for_children.jpg)

    &_bottom
        background-image: url(../img/accesories.jpg)
        height: 180px
        background-position: center
        margin-top: 30px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        transition: transform 1s
        &:hover
            transform: scale(1.05)
.fetured
    margin-bottom: 48px

    &_head
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    &_h2
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 30px
        line-height: 36px
        color: $ground_color

    &_text
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 17px
        color: #9F9F9F

    &_content
        margin-top: 48px
        display: flex
        gap: 30px
        flex-wrap: wrap

    &_item
        width: 360px
        background: #F8F8F8
        position: relative

    &_item:hover .futured_img
        filter: brightness(0.4)

    &_item:hover .item_add
        display: flex

    &_photo
        width: 100%

    &_item_content
        padding: 25px 18px 20px 18px

    &_hyper
        text-decoration: none

    &_h4

        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 13px
        line-height: 16px
        color: #000000

    &_words
        margin-top: 12px
        margin-bottom: 18px
        font-family: Lato
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 17px
        color: #5D5D5D

    &_cost

        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: $select_color

.item_add
    text-decoration: none
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    color: #FFFFFF
    position: absolute
    top: 188px
    left: 112px
    display: none
    align-items: center
    justify-content: center
    border: 1px solid #FFFFFF
    width: 138px
    height: 43px

    &:hover
        background-color: white
        color: black

    &:hover .item_cart path
        fill: black

.item_cart
    margin-right: 11px

.product_button
    margin-top: 48px
    margin-bottom: 96px
    text-align: center

.button
    text-decoration: none
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #F26376
    padding: 14px 28px
    border: 1px solid #FF6A6A
    transition: color 1s
    transition: background-color 1s
    &:hover
        background-color: #F26376
        color: white

.about
    height: 341px
    background: #222224
    display: flex
    align-items: center
    justify-content: space-between
    &_img
        display: flex
        justify-content: center
        transition: transform 1s
        &:hover
            transform: rotate(360deg)
    &_h3
        font-family: Lato
        font-weight: normal
        font-size: 19.96px
        line-height: 24px
        text-align: center
        color: #FBFBFB
        margin-top: 28px
        margin-bottom: 16px

    &_text
        font-family: Lato
        font-style: normal
        font-weight: 300
        font-size: 13.972px
        line-height: 17px
        text-align: center
        color: #9e9e9e
        width: 320px

.subscribe
    height: 448px
    background-image: url(../img/photo_subscribe.png)
    background-size: cover
    background-position: bottom left
    background-repeat: no-repeat
    display: flex
    justify-content: space-between

    &_left
        display: flex
        flex-direction: column

        align-items: center
        padding-top: 97px
        width: 360px

    &_left_text
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 24px
        text-align: center
        color: #222224
        margin-top: 30px

    &_right
        padding-top: 150px
        display: flex
        flex-direction: column
        align-items: center

    &_head
        font-family: Lato
        font-style: normal
        font-weight: bold
        font-size: 24px

        text-align: center
        color: #222224

    &_head_select
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 24px
        margin-bottom: 27px
    &_email
        display: flex

    &_email_style
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 17px
        padding-top: 10px
        padding-left: 22px
        padding-bottom: 9px
        border-radius: 20px 0 0 20px
        background: #E1E1E1
        opacity: 0.67
        width: 250px
        border: none

    &_button_style
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 17px
        color: #FFFFFF
        background: #E05C6E
        border-radius: 0 20px 20px 0
        padding-top: 15px
        padding-right: 22px
        padding-bottom: 14px
        width: 100px
        text-align: end
        border: none

        &:hover
            background: #e03950

.footer
    background: #222224
    height: 79px
    display: flex
    justify-content: space-between
    align-items: center

    &_copyright
        font-family: Lato
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 19px
        color: #cfcece

    &_indent:not(:first-child)
        padding-left: 7px

    &_indent:hover path.pic_ground
        fill: #F26376

    &_indent:hover path.pic_logo
        fill: white
